@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Overpass;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.container {
    width: 350px;
    height: 350px;
    background-image: radial-gradient(circle at center top, rgba(255, 255, 255, 0.104) 5%, hsl(208, 22%, 15%) 95%);
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.submit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 350px;
    flex-shrink: 0;
    /* background-color: hsl(216, 12%, 8%); */
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 350px;
    flex-shrink: 0;
    margin-right: 340px;
    /* background: hsl(216, 12%, 8%); */
    transition-duration: 0.3s;
    margin-right: -340px;
}

.scoreimg {
    width: 150px;
}

.result h1 {
    text-align: center;
}

.result .score {
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
    width: 200px;
}

.result .score span {
    font-size: 14px;
    color: hsl(25, 97%, 53%);
    /* background-color: blue; */
    padding: 0px;
    margin: 0px;
}

.result .para {
    text-align: center;
    font-size: 14px;
    width: 350px;
    margin-top: 10px;
}

.stardiv {
    background-color: hsl(213, 19%, 20%);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 25px;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 13px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.number {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: hsl(213, 19%, 18%);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number.active {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: white;
    padding: 10px;
}

.number:hover {
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
}

.number:hover span {
    font-weight: 700;
    color: hsl(216, 12%, 8%);
}

span {
    color: hsl(217, 12%, 63%);
    font-weight: 700;
    margin-top: 10%;
}

.number.active span {
    color: hsl(216, 12%, 8%);
}

button {
    border-radius: 20px;
    color: black;
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    font-weight: 700;
    padding: 10px;
    outline: none;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: white;
}